# Student Alcohol Consumption

## Import Lib

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
import seaborn as sns
sns.set()

In [2]:
!ls

EDA.ipynb
student-mat.csv

## Read Dataset

In [3]:
data = pd.read_csv("student-mat.csv")
data

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [4]:
data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

## Ý nghĩa của các cột dữ liệu

- **school**: trường học
- **sex**: giới tính
- **age**: tuổi
- **address**: địa chỉ nhà (gồm 'U': urban và 'R': rural)
- **famsize**: số lượng thành viên trong gia đình ('LE3'- nhỏ hơn 3 và 'GT3'- lớn hơn 3)
- **Pstatus**: tình trạng sống với gia đình ('T' - sống cùng, 'A' - sống xa)
- **Medu**: trình độ học vấn của mẹ (numeric: 0 - none, 1 - primary education (4th grade), 2 – 5th to 9th grade, 3 – secondary education or 4 – higher education)
- **Fedu - father's education** (numeric: 0 - none, 1 - primary education (4th grade), 2 – 5th to 9th grade, 3 – secondary education or 4 – higher education)
- **Mjob - mother's job** (nominal: 'teacher', 'health' care related, civil 'services' (e.g. administrative or police), 'at_home' or 'other')
- **Fjob - father's job** (nominal: 'teacher', 'health' care related, civil 'services' (e.g. administrative or police), 'at_home' or 'other')
- **reason - reason to choose this school** (nominal: close to 'home', school 'reputation', 'course' preference or 'other')
- **guardian - student's guardian** (nominal: 'mother', 'father' or 'other')
- **traveltime - home to school travel time**: (numeric: 1 - <15 min., 2 - 15 to 30 min., 3 - 30 min. to 1 hour, or 4 - >1 hour)
- **studytime - weekly study time**: (numeric: 1 - <2 hours, 2 - 2 to 5 hours, 3 - 5 to 10 hours, or 4 - >10 hours)
- **failures - number of past class failures**: (numeric: n if 1<=n<3, else 4)
- **schoolsup - extra educational support**: (binary: yes or no)
- **famsup - family educational support**: (binary: yes or no)
- **paid - extra paid classes within the course subject**: (Math or Portuguese) (binary: yes or no)
- **activities - extra-curricular activities** (binary: yes or no)
- **nursery - attended nursery school**: (binary: yes or no)
- **higher - wants to take higher education**: (binary: yes or no)
- **internet - Internet access at home**: (binary: yes or no)
- **romantic - with a romantic relationship**: (binary: yes or no)
- **famrel - quality of family relationships**: (numeric: from 1 - very bad to 5 - excellent)
- **freetime - free time after school**: (numeric: from 1 - very low to 5 - very high)
- **goout - going out with friends**: (numeric: from 1 - very low to 5 - very high)
- **Dalc - workday alcohol consumption**: (numeric: from 1 - very low to 5 - very high)
- **Walc - weekend alcohol consumption**: (numeric: from 1 - very low to 5 - very high)
- **health - current health status**: (numeric: from 1 - very bad to 5 - very good)
- **absences - number of school absences**: (numeric: from 0 to 93)
- **G1 - first period grade**: (numeric: from 0 to 20)
- **G2 - second period grade**: (numeric: from 0 to 20)
- **G3 - final grade**: (numeric: from 0 to 20, output target)

## Kiểm tra thông tin dòng cột dữ liệu

In [5]:
# Kich thuoc du lieu
print("So dong: ", data.shape[0])
print("So cot: ", data.shape[1])

So dong:  395
So cot:  33

In [6]:
# Kiem tra kieu du lieu
data.dtypes

school        object
sex           object
age            int64
address       object
famsize       object
Pstatus       object
Medu           int64
Fedu           int64
Mjob          object
Fjob          object
reason        object
guardian      object
traveltime     int64
studytime      int64
failures       int64
schoolsup     object
famsup        object
paid          object
activities    object
nursery       object
higher        object
internet      object
romantic      object
famrel         int64
freetime       int64
goout          int64
Dalc           int64
Walc           int64
health         int64
absences       int64
G1             int64
G2             int64
G3             int64
dtype: object

In [7]:
data["number_day_alcohol"] = data["Dalc"] + data["Walc"]

In [8]:
# loc ra cac thuoc tinh numerical va categorical
numerical_data = [name for name in data.columns if data[name].dtype in ['int64']]
categorical_data = [name for name in data.columns if data[name].dtype in ['object']]

In [9]:
print("Number of categorical data: ", len(categorical_data))
print("Number of categorical data: ", len(numerical_data))

Number of categorical data:  17
Number of categorical data:  17

## Thông kê mô tả

### Thống kê cho dữ liệu số

In [10]:
nume_df = data[numerical_data]

missing = nume_df.isna().sum()/len(nume_df)
mean_sr = nume_df.mean()
mode_sr = nume_df.apply(lambda x: x.mode()[0])
var_sr = nume_df.var()
std_sr = nume_df.std()


statistic = {"missing_percentage":missing,"mean": mean_sr, "mode": mode_sr, "variance": var_sr, "std": std_sr}

statistic_df = np.round(pd.DataFrame(statistic),4)

In [11]:
statistic_df

                    missing_percentage     mean  mode  variance     std
age                                0.0  16.6962    16    1.6283  1.2760
Medu                               0.0   2.7494     4    1.1984  1.0947
Fedu                               0.0   2.5215     2    1.1842  1.0882
traveltime                         0.0   1.4481     1    0.4865  0.6975
studytime                          0.0   2.0354     2    0.7043  0.8392
failures                           0.0   0.3342     0    0.5530  0.7437
famrel                             0.0   3.9443     4    0.8040  0.8967
freetime                           0.0   3.2354     3    0.9977  0.9989
goout                              0.0   3.1089     3    1.2394  1.1133
Dalc                               0.0   1.4810     1    0.7934  0.8907
Walc                               0.0   2.2911     1    1.6587  1.2879
health                             0.0   3.5544     5    1.9329  1.3903
absences                           0.0   5.7089     0   64.0495  8.0031
G1                                 0.0  10.9089    10   11.0171  3.3192
G2                                 0.0  10.7139     9   14.1489  3.7615
G3                                 0.0  10.4152    10   20.9896  4.5814
number_day_alcohol                 0.0   3.7722     2    3.9378  1.9844

### Thống kê cho dữ liệu Category

In [ ]:
data[categorical_data].describe().T

### Thống kê đối với từng nhóm mức độ sử dụng cồn

In [ ]:
# Trung binh
nume_df.groupby(["number_day_alcohol"]).mean()

In [ ]:
# Phuong sai
nume_df.groupby(["number_day_alcohol"]).var()

In [ ]:
# Do lech chuan
nume_df.groupby(["number_day_alcohol"]).std()

## Trực quan dữ liệu Categorical

In [ ]:
fig, axes = plt.subplots(5,4, figsize=(20,30))
count = 0
for i in range(5):
    for j in range(4):
        if(count< len(categorical_data)):
            data[categorical_data[count]].value_counts().plot.bar(ax=axes[i][j])
            axes[i][j].set_xticklabels(axes[i][j].get_xticklabels(), rotation=360, ha='center', fontsize=15)
            axes[i][j].set_title(categorical_data[count], fontsize =15)
        count = count+1
fig.delaxes(axes[4][1])
fig.delaxes(axes[4][2])
fig.delaxes(axes[4][3])
fig.tight_layout(pad=2.0)

## Trực quan cho dữ liệu Numerical

In [ ]:
nume_df = data[numerical_data]
nume_df

In [ ]:
data.boxplot(figsize = (20,10), color="Blue")
plt.xticks(fontsize=12)
plt.show()

In [ ]:
import warnings
warnings.filterwarnings('ignore')

fig, axes = plt.subplots(ncols=4, nrows=5, figsize=(20,25))


for i, ax in zip(range(17), axes.flat):
    sns.distplot(data[numerical_data[i]], hist=True, ax=ax, color="Blue")
    ax.tick_params(axis='both', which='major', labelsize=15)
    ax.set_title(numerical_data[i], color="red", fontsize=14)
fig.delaxes(axes[4][1])
fig.delaxes(axes[4][2])
fig.delaxes(axes[4][3])
plt.tight_layout(pad=1)
plt.show()

## EDA

In [ ]:
number_student_walc = data.groupby(["Walc"]).agg(['count'])['school'].reset_index()

plt.figure(figsize=(8,5))

plt.bar(number_student_walc["Walc"], number_student_walc['count'], color=sns.color_palette())

plt.xticks([1,2,3,4,5],[" very low", "low", "medium", "high", "very high"])

plt.xlabel("Level")

plt.ylabel("Number of students")

plt.title("Number of students using alcohol each level in the weekend", fontdict={'size':15})

plt.show()

In [ ]:
number_student_dalc = data.groupby(["Dalc"]).agg(['count'])['school'].reset_index()

plt.figure(figsize=(8,5))

plt.bar(number_student_dalc["Dalc"], number_student_walc['count'], color=sns.color_palette())

plt.xticks([1,2,3,4,5],[" very low", "low", "medium", "high", "very high"])

plt.xlabel("Level")

plt.ylabel("Number of students")

plt.title("Number of students using alcohol each level in workday", fontdict={'size':15})

plt.show()

In [ ]:
number_student_alcohol = data.groupby(["number_day_alcohol"]).agg(['count'])['school'].reset_index()

plt.figure(figsize=(8,5))

plt.bar(number_student_alcohol["number_day_alcohol"], number_student_alcohol['count'], color=sns.color_palette())

plt.xlabel("Level")

plt.xticks([2,3,4,5,6,7,8,9,10])

plt.ylabel("Number of students")

plt.title("Number of students using alcohol each level in a week", fontdict={'size':15})

plt.show()

In [ ]:
def make_autopct(values):
    def my_autopct(pct):
        total = sum(values)
        val = int(round(pct*total/100.0))
        return '{p:.2f}%'.format(p=pct,v=val)
    return my_autopct

plt.figure(figsize=(8,8))

plt.pie(number_student_alcohol['count'], labels = None,labeldistance=None, autopct= make_autopct(number_student_walc['count']), startangle=90, pctdistance = 1.05)

plt.title("Percentage of Number in each using alcohol level", fontdict={'size':15})

plt.legend([2,3,4,5,6,7,8,9,10])

plt.tight_layout()

plt.show()

In [ ]:
mean_each_group_alcohol = nume_df.groupby(["number_day_alcohol"]).mean().reset_index()

fig, axes = plt.subplots(4,4,figsize=(20,18))

for i, ax in zip(range(16), axes.flat):
    mean_each_group_alcohol.plot.bar(x="number_day_alcohol", y=numerical_data[i], ax=ax, color=sns.color_palette())
    ax.tick_params(axis='both', which='major', labelsize=15)
    ax.set_title(numerical_data[i], color="red", fontsize=14)
plt.tight_layout(pad=1)
plt.show()

**Nhận xét:**
- Phần lớn các học sinh dùng rượu có độ tuổi trung bình từ 16-17 tuổi
- Các sinh viên có mức độ dùng rượu cao (>=5) đều có thời gian di chuyển từ nhà đến trường lớn hơn 15p. Có thể thấy rằng các sinh viên có khoảng cách xa đến trường sẽ dùng nhiều rượu hơn
- Các sinh viên có mức độ dùng rượu cao (>=6) có thời gian đi cùng bạn bè (goout) ở mức cao (mức đô trên dưới 4)
- Những sinh viên dùng rượu đều có nhiều thời gian rảnh (mức độ trên dưới 4)
- Trình độ học vẫn của người bố có thể ảnh hưởng đến mức độ sử dụng rượu của sinh viên. Khi ta thấy các sinh viên có mức dùng rượu từ (8-10), có trình độ học vấn của bố ở mức thấp hơn hẳn so với các nhóm khác

### Giới tính và mức độ sử dụng rượu bia

In [ ]:
sns.kdeplot(x=data["Walc"], hue=data["sex"])
plt.show()

In [ ]:
g = sns.FacetGrid(data, col='Walc', hue="sex")
g.map(sns.kdeplot, "goout",alpha=.7)
plt.figure(figsize=(15,7))
g.add_legend()
plt.show()

In [ ]:
g = sns.FacetGrid(data, col='Walc', hue="sex")
g.map(sns.kdeplot, "G3",alpha=.7)
plt.figure(figsize=(15,7))
g.add_legend()
plt.show()

**Nhận xét:**
- Sinh viên nữ có tỉ lệ sử dụng rượu, bia cao hơn các sinh viên nam. Nhưng ở nhóm sử dụng mức độ cao (4-5), các tỉ lệ các sinh viên nam cao hơn
- Trong nhóm Walc=5, các sinh viên nữ có thời gian bên ngoài cao hơn hẳn các nhóm còn lại và cao hơn các sinh viên nam. Có thể thấy rằng, việc có nhiều thời gian bên ngoài có thể làm gia tăng việc sử dụng rượu, bia ở các sinh viên nữ
- Điểm số của cả nhóm sinh viên nam và nữ, càng gần phân phối chuẩn với trung bình bằng 10 khi mà việc sử dụng rượu, bia càng thường xuyên

In [ ]:
math_g3 = data[data["G3"]>=15]
i=1
plt.figure(figsize =(15,35))
for col in numerical_data:
    plt.subplot(6,3,i)
    sns.boxplot(x =col, y = 'Walc', hue = 'sex', data = math_g3)
    plt.title('Weekend alco Vs '+ col)
    i = 1+i

In [ ]:
math_g3 = data[data["G3"]>=15]
i=1
plt.figure(figsize =(15,35))
for col in categorical_data:
    plt.subplot(6,3,i)
    sns.boxplot(x =col, y = 'Walc', hue = 'sex', data = math_g3)
    plt.title('Weekend alco Vs '+ col)
    i = 1+i

In [ ]:
#Truc quan nhom diem nho hon 15 voi du lieu numerical
math_g3 = data[data["G3"]<15]
i=1
plt.figure(figsize =(15,35))
for col in numerical_data:
    plt.subplot(6,3,i)
    sns.boxplot(x =col, y = 'Walc', hue = 'sex', data = math_g3)
    plt.title('Weekend alco Vs '+ col)
    i = 1+i

In [ ]:
#Truc quan nhom diem nho hon 15 voi du lieu category
math_g3 = data[data["G3"]<15]
i=1
plt.figure(figsize =(15,35))
for col in categorical_data:
    plt.subplot(6,3,i)
    sns.boxplot(x =col, y = 'Walc', hue = 'sex', data = math_g3)
    plt.title('Weekend alco Vs '+ col)
    i = 1+i

**Nhận xét:**
- Ở nhóm các sinh viên nam có điểm dưới 15, khi số mức độ goout cao thì các sinh viên có xu hướng dùng rượu nhiều hơn (giá trị trung bình, và phân vị đều tăng). Ngược lại ở nhóm sinh viên nữ, giá trị trung bình và phân vị không chênh lệch nhiều, cho thấy mức độ goout không ảnh hưởng nhiều lên nhóm sinh viên nữ
- Các sinh viên có điểm thấp thường mắc nhiều lỗi hơn các sinh viên có điểm cao, và tỉ lệ này gia tăng khi mức độ dùng cồn tăng. Điều này cho thấy dùng rượu ảnh hưởng xấu đến cuộc sống của các sinh viên
- Các sinh viên mong muốn học tiếp ở bậc giáo dục, đều có mức độ sử dụng rượu thấp. Các sinh viên không có nguyện vọng học tiếp lên cao, có xu hướng sử dụng rượu bia nhiều đặc biệt ở nam giới
- Nhìn chung, các sinh viên nữ có mức sử dụng rượu bia thấp (phần lớn 1-3), các sinh viên nam có mức dao động cao hơn